sudo nano /etc/systemd/system/orderservice.service

sudo systemctl stop  orderservice.service 
dotnet publish --output /var/www/services/orders
sudo systemctl start  orderservice.service  
sudo systemctl status  orderservice.service 
sudo journalctl -u orderservice.service -f


[Unit]
Description=Order Service .NET Application
After=network.target

[Service]
WorkingDirectory=/var/www/services/orders
ExecStart=/usr/bin/dotnet /var/www/services/orders/DreamWedds.Services.OrderAPI.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=orderservice
User=www-data
Environment=DOTNET_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
