sudo nano /etc/systemd/system/authservice.service


[Unit]
Description=Auth Service .NET Application
After=network.target

[Service]
WorkingDirectory=/var/www/services/auth
ExecStart=/usr/bin/dotnet /var/www/services/auth/DreamWedds.Services.AuthAPI.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=authservice
User=www-data
Environment=DOTNET_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
