sudo nano /etc/systemd/system/productservice.service

[Unit]
Description=ProductService .NET Application
After=network.target

[Service]
WorkingDirectory=/var/www/services/product-service
ExecStart=/usr/bin/dotnet /var/www/services/product-service/ProductService.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=productservice
User=www-data
Environment=DOTNET_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
